/target
/classes
/checkouts
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/

.DS_Store
/reactive-entity.iml
/.idea
/.shadow-cljs
/node_modules
/resources/demo/public/js
/resources/test/public/js
pom.xml
.clj-kondo
.lsp
out