{:deps {:aliases [:demo]}
 :builds
 {:test
  {:id :test
   :target :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-test$"}

  :test-watch
  {:id :test-watch
   :target :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-test$"
   :autorun true}

  :browser-test
  {:id :browser-test
   :target :browser-test
   :test-dir "resources/test/public"
   :devtools {:http-port 8021
              :http-root "resources/test/public"}
   :ns-regexp "-test$"}

  :demo
  {:id :demo
   :target :browser
   :output-dir "resources/demo/public/js"
   :asset-path "js"
   :modules {:demo {:entries [austinbirch.reactive-entity.demo]}}
   :compiler-options {:infer-externs :auto
                      :externs ["datascript/externs.js"]}
   :devtools {:http-root "resources/demo/public"
              :http-port 8080
              :watch-dir "resources/demo/public"
              :preloads [devtools.preload]
              :loader-mode :eval}
   :release {:compiler-options {:source-map true}}}}}
